<tr>
  <td><%= club_listing_image(club.image_url) %></td>
  <td><%= link_to club.name, [club.area, club] %></td>
  <td><%= club.area.name %></td>
  <td><%= club.description %></td>
  <td><%= club.location %></td>
</tr>
