<h1>Viewing <%= @user.name %>'s profile</h1>
<div class="user-info">
  <div class="user-image">
    <%= user_image(@user) %>
  </div>
  <div class="user-bio">
    <p><%= @user.name %></p>
    <p><%= @user.area.name %></p>
    <p><%= @user.age %></p>
    <p><%= @user.bike %></p>
  </div>
</div>
<div class="user-socials">
  <p><%= link_to "#{@user.name}'s Marketplace",
    user_marketplace_path(@user) %></p>
  <p><%= link_to "#{@user.name}'s Cycling Clubs",
    user_club_list_path(@user) %></p>
  <p class="lying-link"><%= @user.name %>'s Top Times</p>
  <p class="lying-link"><%= @user.name %>'s Custom Courses</p>
</div>
<% unless @user == current_user %>
  <%= buddy_button(@user) %>
<% end %>
<div class="flash">
  <%= flash[:error] %>
</div>
<div class="status-update-form">
  <%= render "status_entries/form",
    status_entry: StatusEntry.new, user: @user %>
</div>
<div class="update-feed">
  <table>
    <%= render @user.feed_updates %>
  </table>
</div>
